@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: PT Sans, Arial;
    font-weight: 300;
    color: #3a3a3a;
}

/*headings and logo*/

h1,
h2 {
    font-family: PT Sans Caption, Arial;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #555d50;
    text-align: center;
}

#logo {

    font-size: 250%;
}

/*navigation links*/
#menu2,
#menu1 {
    font-size: 110%;
}

#menu2 li,
#menu1 li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu2 a,
#menu1 a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#home1,
#home2 {
    border: 2px solid #555d50;
    border-radius: 50%;
    width: 5rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: PT Sans, Arial;
}


li {
    display: inline;

}