@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: PT Sans, Arial;
    font-weight: 300;
    color: #3a3a3a;
}

/*headings and logo*/

h1,
h2 {
    font-family: PT Sans Caption, Arial;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #555d50;
    text-align: center;
}

p {
    font-family: PT Sans Caption, Arial;
    text-transform: italics;
    color: #555d50;
    margin: 20px;
    text-align: justify;
}

#logo {
    font-size: 250%;
}

/*navigation links*/
#menu2,
#menu1 {
    font-size: 110%;
}

#menu1,
#menu2,
#logo {
    line-height: 75px;
}

#menu2 li,
#menu1 li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu2 a,
#menu1 a {
    text-decoration: none;
    color: inherit;
}

#menu2 a:hover,
#menu1 a:hover {
    border-bottom: 1px solid;
}

#home1,
#home2 {
    border: 2px solid #555d50;
    border-radius: 50%;
    width: 5rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: PT Sans, Arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;

}

/*hero image*/

#hero-zoom {
    height: 600px;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/lucid-dreaming-other-reality-jpg.jpeg") no-repeat center center;

    /* animates zoom on loading page*/
    animation-name: hero-zoom1;
    animation-duration: 6s;
    /*duration 6 sec*/
    ;
    animation-fill-mode: forwards;
}

/*zoom for hero image*/
@keyframes hero-zoom1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }